h1 {
  text-align: center;
  font-weight: 600;
  margin-bottom: -5px;
}

h2 {
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  color: grey;
}

div {
  display: flex;
  justify-content: center;
}

img {
  display: inline-block;
  justify-content: center;
  padding: 10px;
  width: 300px;
  height: 300px;
}

button {
  margin-left: 560px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 300px;
  height: 40px;
  font-weight: 600;
}

.first-text {
  position: absolute;
  padding-top: 110px;
  font-size: 30px;
  color:white;
}

.second-text {
  position: absolute;
  padding-top: 110px;
  font-size: 30px;
  color:white;}

.third-text {
  position: absolute;
  padding-top: 110px;
  font-size: 30px;
  color:white;}

.fourth-text {
  position: absolute;
  padding-top: 110px;
  font-size: 30px;
  color:white;}

.fifth-text {
  position: absolute;
  padding-top: 110px;
  font-size: 30px;
  color:white;}

.sixth-text {
  position: absolute;
  padding-top: 110px;
  font-size: 30px;
  color:white;
}

